:root {
  --primary-color: #0a1118;
  --primary-color-highlight: #233d54;
  --bs-body-bg: #fbf0f6;
  --bs-body-font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color);
}

/* custom Container */
.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
/* main header */
.header {
  z-index: 2;
}

/* Navigation Bar */
#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 247, 231);
  z-index: 4;
}
/* .dropdown-nav {
} */
.dropdown-nav__closeNavBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}
.dropdown-nav__container {
  height: 100vh;
  padding: 0 1rem;
}
/* Hero Section {
} */
.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

.hero_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
.hero__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  z-index: 1;
}
.hero__content {
  z-index: 1;
}
.hero__content-width {
  max-width: 540px;
}
.hero__scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.hero__scroll-btn:hover {
  color: var(--bs-light);
  opacity: 0.8;
}
.hero__scroll-btn .bi {
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

/* steps Section  */

.steps--background {
  background-color: #ffffffd9;
}
.steps {
  padding-top: 40px;
  padding-bottom: 40px;
}
.steps__section-thumbnail {
  height: 240px;
  object-fit: cover;
  margin: 0 auto;
}
.steps__content-width {
  max-width: 456px;
  margin: 0 auto;
}
